body {
    background: #5b4439 url(/images/big-rusty-background.jpg) center fixed;
    background-size: cover;
    color: #000;
    font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    line-height: 1.4;
    margin: 0;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: "Rock Salt", cursive, sans-serif;
}

a {
    /* color: #d94100; */
    color: #bf3900;
}

button, .btn {
    background: #723c24;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
}

button:hover, a[href].btn:hover {
    background: #bf3900;
}

button[disabled], .btn[disabled] {
    cursor: default;
    opacity: .5;
}

button[disabled]:hover, a[href][disabled].btn:hover {
    background: #723c24;
}

header {
    margin: 100px auto 150px;
    text-align: center;
}

header h1 {
    color: #b3b3aa;
    font-size: 64px;
    margin: 0 auto 20px;
    max-width: 80%;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    width: 1200px;
}

header h1 > img {
    height: auto;
    width: 100%;
}

header h2 {
    font-size: 48px;
    margin: 0 0 -25px;
}

main {
    margin: 0 auto;
    max-width: 80%;
    text-align: left;
    width: 800px;
}

article {
    background: rgba(255, 255, 255, .85) url(/images/paper.jpg);
    background-size: 100% auto;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 20px;
}

article:first-child {
    margin-top: 0;
}

article:last-child {
    margin-bottom: 0;
}

article > h3 {
    font-size: 32px;
    margin: 0 0 32px;
}

article .play audio {
    width: 100%;
}

article .download .publish-date {
    font-size: 16px;
    margin: 0 0 0 20px;
    opacity: .5;
}

article > :last-child {
    margin-bottom: 0;
}

footer {
    color: #000;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 150px 0 50px;
}

@media screen and (max-width: 1000px) {
    body {font-size:24px}
    header {margin:115px auto}
    footer {margin:185px 0 38px}
}

@media screen and (max-width: 699px) {
    body {font-size:18px}
    header {margin:85px auto}
    footer {margin:140px 0 28px}
}

@media screen and (max-width: 519px) {
    body {font-size:15px}
    header {margin:70px auto}
    footer {font-size:12px;margin:117px 0 23px}
}

@media screen and (max-width: 419px) {
    body {font-size:14px}
    header {margin:66px auto}
    footer {font-size:11px;margin:109px 0 22px}
}

@media screen and (max-width: 399px) {
    body {font-size:13px}
    header {margin:61px auto}
    footer {font-size:10px;margin:102px 0 20px}
}

@media screen and (max-width: 359px) {
    body {font-size:12px}
    header {margin:56px auto}
    footer {font-size:9px;margin:94px 0 20px}
}
